In [1]:
from math import ceil
import pandas as pd
from collections import Counter
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
356,tt0785006,35000000,73034460,Hotel for Dogs,Emma Roberts|Jake T. Austin|Don Cheadle|Johnny...,Thor Freudenthal,No stray gets turned away.,Placed in a foster home that doesn't allow pet...,100,Comedy|Family,DreamWorks SKG|Nickelodeon Movies,1/16/2009,5.6,2009
394,tt0446029,60000000,47664559,Scott Pilgrim vs. the World,Michael Cera|Mary Elizabeth Winstead|Kieran Cu...,Edgar Wright,Get the hot girl. Defeat her evil exes. Hit lo...,Scott Pilgrim is a film adaptation of the crit...,112,Action|Adventure|Comedy,Universal Pictures|Marc Platt Productions,7/27/2010,7.2,2010
1717,tt0426931,25000000,66122026,August Rush,Freddie Highmore|Keri Russell|Jonathan Rhys Me...,Kirsten Sheridan,An incredible journey moving at the speed of s...,"A drama with fairy tale elements, where an orp...",114,Drama,Warner Bros.|CJ Entertainment|Southpaw Enterta...,11/21/2007,6.9,2007
361,tt1175506,25000000,2336172,Me and Orson Welles,Zac Efron|Claire Danes|Christian McKay|Imogen ...,Richard Linklater,If you want to discover life learn from the ma...,"New York, 1937. A teenager hired to star in Or...",114,Comedy|Drama|Romance,Isle of Man Film|Freestyle Releasing|CinemaNX,11/25/2009,6.4,2009
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
profit = data.revenue - data.budget
data['Profit'] = profit
answers = {} # создадим словарь для ответов
data['timestamp'] = pd.to_datetime(data['release_date'])

def splitted(column):
    values = [value if '|' not in value else value.split('|') for value in column]
    return list(pd.core.common.flatten(values))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
answer1 = data[data.budget == data.budget.max()]
display(answer1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,2011-05-11

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [9]:
answer2 = data[data.runtime == data.runtime.max()]
display(answer2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2003-02-21

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

answer3 = data[data.runtime == data.runtime.min()]
display(answer3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,2011-04-13

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = 110

answer4 = data.runtime.mean()
display(ceil(answer4))

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = 107

answer5 = data.runtime.median()
display(ceil(answer5))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
answers['6'] = '239. Avatar (tt0499549)'

top_profit = data[data.Profit == data.Profit.max()]
display(top_profit)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,2009-12-10

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

the_worst_profit = data[data.Profit == data.Profit.min()]
display(the_worst_profit)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,2013-07-03

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = 1478

answer8 = data[data.Profit > 0].info()
display(answer8)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   object
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
 14  Profit                1478 non-null   int64
 15  timestamp             1478 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(5), object(9)
memory usage: 196.3+ KB

None

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = '599. The Dark Knight (tt0468569)'

the_best_film2008 = data[data.release_year == 2008].sort_values('revenue', ascending=False).head(1)

display(the_best_film2008)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,2008-07-16

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

the_worst_2012_2014 = data[(2012 <= data.release_year) & (data.release_year <=2014)].sort_values('Profit').head(1)

display(the_worst_2012_2014)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,2013-07-03

# 11. Какого жанра фильмов больше всего?

In [18]:
answers['11'] = 'Drama'

counted_genres = Counter(splitted(data.genres))


display(counted_genres.most_common(1))

[('Drama', 782)]

ВАРИАНТ 2

In [19]:

genres = itertools.chain.from_iterable(genre.split('|') for genre in data.genres)

pd.Series(genres).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
answers['12'] = 'Drama'

profit_genres = data[data.Profit > 0]['genres']
counted_profit_genres = Counter(splitted(profit_genres))

display(counted_profit_genres.most_common(1))

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [21]:
answers['13'] = 'Peter Jackson'

the_most_profitable_director = data.groupby('director').sum().sort_values('Profit', ascending=False).head(1)

display(the_most_profitable_director)

,budget,revenue,runtime,vote_average,release_year,Profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
answers['14'] = 'Robert Rodriguez'
directors = data[data.genres.str.contains('Action')].director

result = []
for director in directors:
    if '|' in director:
        several = director.split('|')
        result.extend(several)
    else:
        result.append(director)

from collections import Counter

the_most_action_director = Counter(result).most_common(1)
display(the_most_action_director)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
answers['15'] = 'Chris Hemsworth'

films2012 = data[data.release_year == 2012]
casts = films2012.cast

actors = splitted(casts)

profits = {}

for actor in actors:
    actor_mask = casts.str.contains(actor)
    films_with_actor = films2012[actor_mask]
    value = films_with_actor.Profit.sum()
    profits[actor] = value

print(sorted(profits.items(), key=lambda item: item[1])[-1])

('Chris Hemsworth', 1542450773)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
answers['16'] = 'Matt Damon'

high_budget_films = data[data.budget > data.budget.mean()] 

high_budget_films_actors = splitted(high_budget_films.cast)
high_budget_actor = Counter(high_budget_films_actors).most_common(1)
print(high_budget_actor)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
answers['17'] = 'Action'

actor_mask = data.cast.str.contains('Nicolas Cage')
cage_films = data[actor_mask]
counted_genres = Counter(splitted(cage_films.genres))
counted_genres.most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'
paramount_mask = data.production_companies.str.contains('Paramount Pictures')
paramount_films = data[paramount_mask]
paramount_films[paramount_films.Profit == paramount_films.Profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,2002-07-19

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
answers['19'] = '2015'
data.groupby('release_year').revenue.sum().sort_values().tail(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
answers['20'] = '2014'
warner_mask = data.production_companies.str.contains('Warner Bros')
data[warner_mask].groupby('release_year').Profit.sum().sort_values().tail(1)

release_year
2014    2295464519
Name: Profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
answers['21'] = 'Сентябрь'
dates = [date.split('/')[0] for date in data.release_date]
top_month = Counter(dates).most_common(1)
top_month

[('9', 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [31]:
answers['22'] = 450
all_months = [date.month_name() for date in pd.to_datetime(data['release_date'])]
counted = Counter(all_months)
sum(map(counted.get, ['June', 'July', 'August']))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [32]:
answers['23'] = 'Peter Jackson'
winter_months = ['December', 'January', 'February']
winter_mask = data.timestamp.map(lambda date: date.month_name() in winter_months)
winter = data[winter_mask]
directors = splitted(winter.director)
most_productive = Counter(directors).most_common(1)
most_productive

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [37]:
answers['24'] = 'Four By Two Productions'
data['length'] = data.original_title.str.len()
df2 = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack()
df2 = df2.value_counts(ascending=False)
df2 = pd.DataFrame(df2)
df2.columns = ['length']

for idx in df2.index:
    df2.length[idx] = data[data.production_companies.str.contains(idx)].length.mean()
df2.sort_values(by='length', ascending=False)

/Users/fomotoshi/opt/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                                             length
Four By Two Productions                        83.0
Jim Henson Company, The                        59.0
Dos Corazones                                  47.0
Polsky Films                                   46.0
Museum Canada Productions                      46.0
...                                             ...
World Wrestling Entertainment (WWE)             NaN
TelevisiÃ³ de Catalunya (TV3)                   NaN
Baumgarten Management and Productions (BMP)     NaN
Recorded Picture Company (RPC)                  NaN
Disney Double Dare You (DDY)                    NaN

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers['25'] = ''

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)