In [102]:
from math import ceil
import pandas as pd
from collections import Counter
import itertools

In [103]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1341,tt0358082,75000000,260696994,Robots,Robin Williams|Ewan McGregor|Halle Berry|Mel B...,Chris Wedge|Carlos Saldanha,You can shine no matter what you're made of.,Rodney Copperbottom is a young robot inventor ...,91,Animation|Comedy|Family|Science Fiction,Blue Sky Studios|Twentieth Century Fox Animation,3/11/2005,5.9,2005
25,tt2381249,150000000,682330139,Mission: Impossible - Rogue Nation,Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...,Christopher McQuarrie,Desperate Times. Desperate Measures.,Ethan and team take on their most impossible m...,131,Action,Paramount Pictures|Skydance Productions|China ...,7/23/2015,7.1,2015
988,tt1772341,165000000,471222889,Wreck-It Ralph,John C. Reilly|Sarah Silverman|Jane Lynch|Jack...,Rich Moore,The story of a regular guy just looking for a ...,"Wreck-It Ralph is the 9-foot-tall, 643-pound v...",108,Family|Animation|Comedy|Adventure,Walt Disney Animation Studios,11/1/2012,7.0,2012
498,tt0166924,15000000,20117339,Mulholland Drive,Naomi Watts|Laura Harring|Ann Miller|Dan Heday...,David Lynch,An actress longing to be a star. A woman searc...,After a car wreck on the winding Mulholland Dr...,147,Thriller|Drama|Mystery,Asymmetrical Productions|Les Films Alain Sarde...,5/16/2001,7.4,2001
379,tt1104001,170000000,400062763,TRON: Legacy,Garrett Hedlund|Jeff Bridges|Olivia Wilde|Bruc...,Joseph Kosinski,The Game Has Changed.,"Sam Flynn, the tech-savvy and daring son of Ke...",125,Adventure|Action|Science Fiction,Walt Disney Pictures|LivePlanet|Prana Studios|...,12/10/2010,6.3,2010

In [104]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [193]:
profit = data.revenue - data.budget
data['Profit'] = profit
answers = {} # создадим словарь для ответов
data['timestamp'] = pd.to_datetime(data['release_date'])

def splitted(column):
    values = [value if '|' not in value else value.split('|') for value in column]
    return list(pd.core.common.flatten(values))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [106]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [107]:
# тут пишем ваш код для решения данного вопроса:
answer1 = data[data.budget == data.budget.max()]
display(answer1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [108]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [109]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [110]:
answer2 = data[data.runtime == data.runtime.max()]
display(answer2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [111]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

answer3 = data[data.runtime == data.runtime.min()]
display(answer3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [112]:
answers['4'] = 110

answer4 = data.runtime.mean()
display(ceil(answer4))

110

# 5. Каково медианное значение длительности фильмов?

In [113]:
answers['5'] = 107

answer5 = data.runtime.median()
display(ceil(answer5))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [114]:
answers['6'] = '239. Avatar (tt0499549)'

top_profit = data[data.Profit == data.Profit.max()]
display(top_profit)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [115]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

the_worst_profit = data[data.Profit == data.Profit.min()]
display(the_worst_profit)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [116]:
answers['8'] = 1478

answer8 = data[data.Profit > 0].info()
display(answer8)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   object
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
 14  Profit                1478 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 184.8+ KB

None

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [117]:
answers['9'] = '599. The Dark Knight (tt0468569)'

the_best_film2008 = data[data.release_year == 2008].sort_values('revenue', ascending=False).head(1)

display(the_best_film2008)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [118]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

the_worst_2012_2014 = data[(2012 <= data.release_year) & (data.release_year <=2014)].sort_values('Profit').head(1)

display(the_worst_2012_2014)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [119]:
answers['11'] = 'Drama'

counted_genres = Counter(splitted(data.genres))


display(counted_genres.most_common(1))

[('Drama', 782)]

ВАРИАНТ 2

In [120]:

genres = itertools.chain.from_iterable(genre.split('|') for genre in data.genres)

pd.Series(genres).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [121]:
answers['12'] = 'Drama'

profit_genres = data[data.Profit > 0]['genres']
counted_profit_genres = Counter(splitted(profit_genres))

display(counted_profit_genres.most_common(1))

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [122]:
answers['13'] = 'Peter Jackson'

the_most_profitable_director = data.groupby('director').sum().sort_values('Profit', ascending=False).head(1)

display(the_most_profitable_director)

,budget,revenue,runtime,vote_average,release_year,Profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [123]:
answers['14'] = 'Robert Rodriguez'
directors = data[data.genres.str.contains('Action')].director

result = []
for director in directors:
    if '|' in director:
        several = director.split('|')
        result.extend(several)
    else:
        result.append(director)

from collections import Counter

the_most_action_director = Counter(result).most_common(1)
display(the_most_action_director)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [124]:
answers['15'] = 'Chris Hemsworth'

films2012 = data[data.release_year == 2012]
casts = films2012.cast

actors = splitted(casts)

profits = {}

for actor in actors:
    actor_mask = casts.str.contains(actor)
    films_with_actor = films2012[actor_mask]
    value = films_with_actor.Profit.sum()
    profits[actor] = value

print(sorted(profits.items(), key=lambda item: item[1])[-1])

('Chris Hemsworth', 1542450773)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [125]:
answers['16'] = 'Matt Damon'

high_budget_films = data[data.budget > data.budget.mean()] 

high_budget_films_actors = splitted(high_budget_films.cast)
high_budget_actor = Counter(high_budget_films_actors).most_common(1)
print(high_budget_actor)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [126]:
answers['17'] = 'Action'

actor_mask = data.cast.str.contains('Nicolas Cage')
cage_films = data[actor_mask]
counted_genres = Counter(splitted(cage_films.genres))
counted_genres.most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [127]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'
paramount_mask = data.production_companies.str.contains('Paramount Pictures')
paramount_films = data[paramount_mask]
paramount_films[paramount_films.Profit == paramount_films.Profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [135]:
answers['19'] = '2015'
data.groupby('release_year').revenue.sum().sort_values().tail(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [146]:
answers['20'] = '2014'
warner_mask = data.production_companies.str.contains('Warner Bros')
data[warner_mask].groupby('release_year').Profit.sum().sort_values().tail(1)

release_year
2014    2295464519
Name: Profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [151]:
answers['21'] = 'Сентябрь'
dates = [date.split('/')[0] for date in data.release_date]
top_month = Counter(dates).most_common(1)
top_month

[('9', 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [192]:
answers['22'] = 450
all_months = [date.month_name() for date in pd.to_datetime(data['release_date'])]
counted = Counter(all_months2)
sum(map(counted.get, ['June', 'July', 'August']))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [212]:
answers['23'] = 'Peter Jackson'
winter_months = ['December', 'January', 'February']
winter_mask = data.timestamp.map(lambda date: date.month_name() in winter_months)
winter = data[winter_mask]
directors = splitted(winter.director)
most_productive = Counter(directors).most_common(1)
most_productive

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [229]:
answers['24'] = 'Universal Pictures'
long_titles_data = data[data.original_title.str.len() > data.original_title.str.len().mean()]

companies = splitted(long_titles_data.production_companies)
Counter(companies).most_common(1)

[('Universal Pictures', 67)]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [230]:
answers['25'] = ''

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [128]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)'}

In [129]:
# и убедиться что ни чего не пропустил)
len(answers)

18