In [50]:
from math import ceil
import pandas as pd
from collections import Counter
import itertools

In [51]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1836,tt0181865,48000000,207515725,Traffic,Michael Douglas|Benicio del Toro|Jacob Vargas|...,Steven Soderbergh,No one gets away clean,An exploration of the United States of America...,148,Drama,USA Films|Initial Entertainment Group (IEG)|Be...,12/27/2000,6.6,2000
130,tt2692250,127000000,349424282,Night at the Museum: Secret of the Tomb,Ben Stiller|Rami Malek|Rebel Wilson|Robin Will...,Shawn Levy,One Final Night to Save the Day.,When the magic powers of The Tablet of Ahkmenr...,97,Adventure|Comedy|Fantasy|Family,Twentieth Century Fox Film Corporation|1492 Pi...,12/17/2014,6.1,2014
1447,tt0206634,76000000,69959751,Children of Men,Clive Owen|Michael Caine|Julianne Moore|Charli...,Alfonso CuarÃ³n,The future's a thing of the past.,"In 2027, in a chaotic world in which humans ca...",109,Drama|Action|Thriller|Science Fiction,Universal Pictures|Strike Entertainment|Hit & ...,9/22/2006,7.3,2006
1532,tt0450232,55000000,65664721,16 Blocks,Bruce Willis|Mos Def|David Morse|Jenna Stern|D...,Richard Donner,"For a New York cop and his witness, the distan...",An aging cop is assigned the ordinary task of ...,105,Action|Adventure|Crime|Thriller,Donners' Company|Cheyenne Enterprises|Alcon En...,3/1/2006,6.1,2006
1745,tt0808279,15000000,7938872,Funny Games,Naomi Watts|Tim Roth|Michael Pitt|Brady Corbet...,Michael Haneke,Let the games begin...,"When Ann, husband George and son Georgie arriv...",112,Horror|Thriller|Crime,Halcyon Pictures|Kinematograf Wien,10/20/2007,6.2,2007

In [52]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [53]:
profit = data.revenue - data.budget
data['Profit'] = profit
answers = {} # создадим словарь для ответов
data['timestamp'] = pd.to_datetime(data['release_date'])

def splitted(column):
    values = [value if '|' not in value else value.split('|') for value in column]
    return list(pd.core.common.flatten(values))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [54]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [55]:
# тут пишем ваш код для решения данного вопроса:
answer1 = data[data.budget == data.budget.max()]
display(answer1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,2011-05-11

ВАРИАНТ 2

In [56]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [57]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [58]:
answer2 = data[data.runtime == data.runtime.max()]
display(answer2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2003-02-21

# 3. Какой из фильмов самый короткий (в минутах)?

In [59]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

answer3 = data[data.runtime == data.runtime.min()]
display(answer3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,2011-04-13

# 4. Какова средняя длительность фильмов?

In [60]:
answers['4'] = 110

answer4 = data.runtime.mean()
display(ceil(answer4))

110

# 5. Каково медианное значение длительности фильмов?

In [61]:
answers['5'] = 107

answer5 = data.runtime.median()
display(ceil(answer5))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [62]:
answers['6'] = '239. Avatar (tt0499549)'

top_profit = data[data.Profit == data.Profit.max()]
display(top_profit)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,2009-12-10

# 7. Какой фильм самый убыточный?

In [63]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

the_worst_profit = data[data.Profit == data.Profit.min()]
display(the_worst_profit)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,2013-07-03

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [64]:
answers['8'] = 1478

answer8 = data[data.Profit > 0].info()
display(answer8)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   object
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
 14  Profit                1478 non-null   int64
 15  timestamp             1478 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(5), object(9)
memory usage: 196.3+ KB

None

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [65]:
answers['9'] = '599. The Dark Knight (tt0468569)'

the_best_film2008 = data[data.release_year == 2008].sort_values('revenue', ascending=False).head(1)

display(the_best_film2008)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,2008-07-16

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [66]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

the_worst_2012_2014 = data[(2012 <= data.release_year) & (data.release_year <=2014)].sort_values('Profit').head(1)

display(the_worst_2012_2014)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,2013-07-03

# 11. Какого жанра фильмов больше всего?

In [67]:
answers['11'] = 'Drama'

counted_genres = Counter(splitted(data.genres))


display(counted_genres.most_common(1))

[('Drama', 782)]

ВАРИАНТ 2

In [68]:

genres = itertools.chain.from_iterable(genre.split('|') for genre in data.genres)

pd.Series(genres).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [69]:
answers['12'] = 'Drama'

profit_genres = data[data.Profit > 0]['genres']
counted_profit_genres = Counter(splitted(profit_genres))

display(counted_profit_genres.most_common(1))

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [70]:
answers['13'] = 'Peter Jackson'

the_most_profitable_director = data.groupby('director').sum().sort_values('Profit', ascending=False).head(1)

display(the_most_profitable_director)

,budget,revenue,runtime,vote_average,release_year,Profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [71]:
answers['14'] = 'Robert Rodriguez'
directors = data[data.genres.str.contains('Action')].director

result = []
for director in directors:
    if '|' in director:
        several = director.split('|')
        result.extend(several)
    else:
        result.append(director)

from collections import Counter

the_most_action_director = Counter(result).most_common(1)
display(the_most_action_director)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [72]:
answers['15'] = 'Chris Hemsworth'

films2012 = data[data.release_year == 2012]
casts = films2012.cast

actors = splitted(casts)

profits = {}

for actor in actors:
    actor_mask = casts.str.contains(actor)
    films_with_actor = films2012[actor_mask]
    value = films_with_actor.Profit.sum()
    profits[actor] = value

print(sorted(profits.items(), key=lambda item: item[1])[-1])

('Chris Hemsworth', 1542450773)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [73]:
answers['16'] = 'Matt Damon'

high_budget_films = data[data.budget > data.budget.mean()] 

high_budget_films_actors = splitted(high_budget_films.cast)
high_budget_actor = Counter(high_budget_films_actors).most_common(1)
print(high_budget_actor)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [74]:
answers['17'] = 'Action'

actor_mask = data.cast.str.contains('Nicolas Cage')
cage_films = data[actor_mask]
counted_genres = Counter(splitted(cage_films.genres))
counted_genres.most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [75]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'
paramount_mask = data.production_companies.str.contains('Paramount Pictures')
paramount_films = data[paramount_mask]
paramount_films[paramount_films.Profit == paramount_films.Profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,2002-07-19

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [76]:
answers['19'] = '2015'
data.groupby('release_year').revenue.sum().sort_values().tail(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [77]:
answers['20'] = '2014'
warner_mask = data.production_companies.str.contains('Warner Bros')
data[warner_mask].groupby('release_year').Profit.sum().sort_values().tail(1)

release_year
2014    2295464519
Name: Profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [78]:
answers['21'] = 'Сентябрь'
dates = [date.split('/')[0] for date in data.release_date]
top_month = Counter(dates).most_common(1)
top_month

[('9', 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [79]:
answers['22'] = 450
all_months = [date.month_name() for date in pd.to_datetime(data['release_date'])]
counted = Counter(all_months)
sum(map(counted.get, ['June', 'July', 'August']))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [80]:
answers['23'] = 'Peter Jackson'
winter_months = ['December', 'January', 'February']
winter_mask = data.timestamp.map(lambda date: date.month_name() in winter_months)
winter = data[winter_mask]
directors = splitted(winter.director)
most_productive = Counter(directors).most_common(1)
most_productive

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [81]:
answers['24'] = 'Four By Two Productions'
data['length'] = data.original_title.str.len()
df2 = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack()
df2 = df2.value_counts(ascending=False)
df2 = pd.DataFrame(df2)
df2.columns = ['length']

for idx in df2.index:
    df2.length[idx] = data[data.production_companies.str.contains(idx)].length.mean()
df2.sort_values(by='length', ascending=False).head(1)

                         length
Four By Two Productions    83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [82]:
answers['25'] = 'Midnight Picture Show'
data['length'] = data.overview.str.len()
df2 = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack()
df2 = df2.value_counts(ascending=False)
df2 = pd.DataFrame(df2)
df2.columns = ['length']

for idx in df2.index:
    df2.length[idx] = data[data.production_companies.str.contains(idx)].length.mean()

df2.sort_values(by='length', ascending=False).head(1)

                       length
Midnight Picture Show  1000.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [83]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']].sort_values(ascending=False, by='vote_average')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,Profit,timestamp,length
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,2008-07-16,396
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,2015-06-09,638
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,2015-10-16,243
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,2014-11-05,222
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,2014-11-14,287
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,2014-07-30,164
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,2014-10-01,169
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2014-02-26,402
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,2010-07-14,280
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,2002-09-24,238
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,2003-12-01,254
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,2013-12-25,200
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,2013-10-18,379
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,2000-10-11,436

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [84]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

all_combs = []

for cast in data.cast.str.split('|').tolist():
    combs = itertools.combinations(cast, 2)
    for comb in combs:
        all_combs.append(comb)

Counter(all_combs).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [85]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [86]:
# и убедиться что ни чего не пропустил)
len(answers)

27